body {
    margin: 0;
    padding: 0px;
    text-align: center;
    font-family:'Times New Roman', Times, serif
    background-position: center;
    background-color: white; 
    color: black;
    background-size: 100% 200%;
    font-size: 1.5em;
  }
  
.logo {
    width: 200px;
    text-align: left;
}

#game-intro {
  padding: 20px 0px
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 200px 0px;
  justify-content: center;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 450px 450px;
  margin: 0 0px;
  overflow: hidden;
  position: relative; 
  background-image: url(../images/abstract-bright-green-square-pixel-tile-mosaic-wall-background-texture.jpg); 
  background-size: cover;
  animation: slide 5s linear infinite; 
  }

.avatarBas {
    width: 250px;}

.avatarGabs {
    width: 200px;}

.avatarOllie{
    width: 180px;}

.avatarMagicMike {
    width: 195px;}

.avatarSherry {
    width: 165px;}

.juneBug {
    width: 150px;}

.box {
    border: solid;
    background-color: white; 
    border-width: 5px;
  }
  
  body button {
    font-size: 30px;
    background-color: #cce840;
    color: rgb(61, 61, 22);
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
#game-end {
display: none;
}

#score {
    padding-right: 10px;
    margin: 0px;
  }

#lives {
  padding : 0px;
  margin: 0px;
  }

#scoring {
display: flex;
justify-content: center;
padding: 0px;
margin: 0px;
font-size: 20px;
}

.boxNoBorder {
  background-color: rgba(0,0,0,.5);
  }

#avatar-junebug{ 
width: 100px
height: 100px
}

#arrowImage {
    width: 250px;
    height: 250px; 
}
